body {
  font-family: 'Poiret One', cursive;
  padding: 0;
  margin: 0;
  background: #59adeb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #0b5b97 0%, #2a75ae 13%, #7EBCEB 36%, #B3D7F4 50%, #ffffff 75%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #0b5b97 0%, #2a75ae 13%, #7EBCEB 36%, #B3D7F4 50%, #ffffff 75%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #0b5b97 0%, #2a75ae 13%, #7EBCEB 36%, #B3D7F4 50%, #ffffff 75%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #0b5b97 0%,#2a75ae 13%,#7EBCEB 36%,#B3D7F4 50%,#ffffff 75%); /* Standard syntax */
}

.font-white {
  color: #fff;
}

.font-dk-blue {
  color: #0b5b97;
}

.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.padding-right {
  padding-right: 15px;
}

#currently h1 {
  font-size: 8em;
}

#currently .icon {
  margin-top: 25px;
}

.inset {
  margin: 10px 30px;
}

.button {
  cursor: pointer;
  margin-top: 50px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%;
}

.sunTimes {
  width: 12.5%;
  float: left;
  text-align: center;
}
